body {
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  background-color: #f0b7d6;
}

h1 {
  color: hsl(310, 84%, 42%);
  font-size: 32px;
  font-weight: bold;
}

p, h2, h3, h4 {
  color: #b60fa8;
  font-size: 18px;
  font-family: 'Times New Roman', Times, serif;
}

button {
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
}

